
.maintitle {
  margin-top: 25px;
  text-align: left;
  text-align: center;
  color: darkslategrey;
  border: solid black;
  border-width: medium;
  font-size: 50px;
  text-decoration: underline;
  font-weight: 1;
}

.title {
  margin-top: 25px;
  text-align: left;
  color: #808080;
  font-size: 40px;
  font-weight: 1;
}

img.intro {
  width: 20%;
  height: 20%;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
  border: solid black;
}

img.slyde {
  width: 2%;
  height: 2%;
  margin-right: 10px;
  margin-bottom: 10px;
  float: left;
  padding-right: 10px;
}

img.epicodus {
  width: 2%;
  height: 2%;
  margin-right: 10px;
  margin-bottom: 10px;
  float: left;
  padding-right: 10px;
}

img.github {
  width: 2%;
  height: 2%;
  margin-right: 10px;
  margin-bottom: 10px;
  float: left;
  padding-right: 10px;
}